<div class="container">
    <div class="row">
        <main class="col-md-12 about-section">

            <!-- Start your code here -->
            <h2>Welcome to the About Page!</h2>

            <section>
                <h4><u>About Me</u></h4>
            </section>
            <section>
                <p>
                    My name is Stephanie Rose Calma. I am currently a student at Seneca College taking up Post Graduate
                    Certificate in Business Information Technology.
                </p>
                <p>
                    I am a cat person and I have a pet cat named "Timmy". Timmy is such a good and lovable cat. His
                    favorite food is the brand Aozi in Salmon, Chicken and Beef flavor. He is also picky with his water,
                    and he only drinks distilled water.
                </p>
                <p>
                    I am a great believer in the power and wisdom of the golden rule: "Do unto others as you would have
                    them do unto you." This principle has resonated with individuals and cultures across the globe for
                    centuries, reminding us of the importance of empathy, compassion, and treating others with utmost
                    respect and kindness.<br>
                    For me, it is important to remember that the golden rule does not imply that everyone wants to be
                    treated in the exact same way. Rather, it encourages us to consider the unique needs and preferences
                    of each individual. Recognizing and respecting these differences is crucial in effectively applying
                    the golden rule.
                </p>
            </section>

            <section>
                <h4><u>About Assignment6</u></h4>
            </section>
            <section>
                <p>
                    Update Assignment 5 to work with a Postgres data source on the server and add some new routes and functionality. You can view a sample solution online here: https://lucky-smock-jay.cyclic.app/ 
                </p>
            </section>
            <!-- End your code here  -->

        </main>
    </div>
</div>