<div class="container">
    <div class="row">
        <main class="col-md-12 demo">

            <!-- Start your code here -->

            <h2>Welcome to the HTML Demo page!</h2>
            <p>
                To effectively demo the capabilities of HTML5, I will be showing examples of its key features. <br>
            </p>
            <p>
                I will personnaly use my favorite items/things for this demo. Please check and see features below.😁
            </p>

            <h3>I. Tables</h3>
            <table>
                <caption>Table1 - History of pets and their breed</caption>
                <thead>
                    <tr>
                        <th colspan="3">Favorite Pets</th>
                    </tr>
                    <tr>
                        <th>Years</th>
                        <th>Name</th>
                        <th>Breed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2015 to 2020</td>
                        <td>Chichi</td>
                        <td>Siamese</td>
                    </tr>
                    <tr>
                        <td rowspan="2">2021 to present</td>
                        <td>Cholo</td>
                        <td>Siamese</td>
                    </tr>
                    <tr>
                        <td>Timmy</td>
                        <td>Siamese Persian</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Mostly of favorite cats breed are Siamese.</td>
                    </tr>
                </tfoot>
            </table>

            <table>
                <caption>Table2 - My Travel History</caption>
                <thead>
                    <tr>
                        <th>Travel Year</th>
                        <th>Country</th>
                        <th>Duration of Stay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2016</td>
                        <td>HongKong</td>
                        <td>3 days & 2 nights</td>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>Singapore</td>
                        <td>5 days & 4 nights</td>
                    </tr>
                    <tr>
                        <td rowspan="2">2019</td>
                        <td>Taiwan</td>
                        <td>5 days & 4 nights</td>
                    </tr>
                    <tr>
                        <td>Thailand</td>
                        <td>2months</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Pandemic hit and was not able to travel anymore.</td>
                    </tr>
                </tfoot>
            </table>

            <p>
                <i>Techinically, this section showcases HTML tables with caption, thead, tbody, tfoot, th, td, tr
                    elements, and the use of rowspan and colspan properties. <br>I have included here my pet cats and my
                    travel history.</i>
            </p>

            <h3>II. Lists</h3>
            <h4>Korean Series</h4>
            <ul>
                <li>Descendant of the Suns</li>
                <li>The Hospital Playlist
                    <ul>
                        <li>Season 1</li>
                        <li>Season 2</li>
                    </ul>
                </li>
                <li>The Penthouse
                    <ul>
                        <li>Season 1</li>
                        <li>Season 2</li>
                        <li>Season 3</li>
                    </ul>
                <li>Love Alarm
                    <ul>
                        <li>Season 1</li>
                        <li>Season 2</li>
                    </ul>
                </li>
                </li>
                <li>The King Eternal Monarch</li>
                <li>The Legend of the Blue Sea</li>
                <li>City Hunter</li>
            </ul>
            <p><i>Technically, this section showcases HTML lists with nested lists.<br>I have listed here the list
                    Korean Series that I have done watching.</i></p>

            <h3>III. Images</h3>
            <h4>Favorite Actor/Actresses Catalogue</h4>
            <div class="demod1">
                <figure>
                    <img src="https://assets-starmagic.abs-cbn.com/wp-content/uploads/2022/03/19162054/KATHRYN-BERNARDO.jpg"
                        alt="Kathryn Bernardo" width="400" height="500">
                    <figcaption>Image 1 - Kathryn Bernardo</figcaption>
                </figure>

            </div>
            <div class="demod1">
                <figure>
                    <img src="https://assets-starmagic.abs-cbn.com/wp-content/uploads/2022/03/20132239/DANIEL-PADILLA-1.jpg"
                        alt="Daniel Padilla" width="400" height="500">
                    <figcaption>Image 2 - Daniel Padilla</figcaption>
                </figure>
            </div>
            <div class="demod1">
                <figure>
                    <img src="https://i.pinimg.com/564x/a3/4a/84/a34a84346ef895575b8d2ddc9c465ab9.jpg"
                        alt="Francine Diaz" width="400" height="500">
                    <figcaption>Image 3 - Francine Diaz</figcaption>
                </figure>
            </div>
            <p><i>Technically, this section showcases HTML images with alt text.<br>I have included here the pictures of
                    my top3 favorite actors/actresses.</i></p>

            <h3>IV. Audio</h3>
            <h5>Descendants of the Sun OST</h5>
            <audio controls>
                <source
                    src="http://melody4arab.com/music/egypt/collection/korean_songs/Descendants_Of_The_Sun_-_Everytime_Melody4Arab.Com.mp3"
                    type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p><i>This section showcases an HTML audio player.<br>I put one of my favorite Korean Drama original sound
                    track.</i></p>

            <h3>V. Video</h3>
            <h5>Descendants of the Sun Teaser</h5>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wTGwjDqtfzQ" allowfullscreen></iframe>
            </div>
            <p><i>Technically, this section showcases an HTML video player.<br>I have put the video trailer of The
                    Descendants of the Sun.</i></p>

            <!-- End your code here  -->

        </main>
    </div>
</div>